.tags__chips {
    display: flex;
    align-items: center;
    align-self: flex-end;

    font-size: 15px;
    margin: 5px 5px;
    padding: 2px 6px;

    border-radius: 100px;
    background-color: rgba(248, 146, 62, 0.8);
    color: white;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}