.separator {
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    max-width: 1000px;
    margin-bottom: 35px;
    margin-top: 25px;
    color: #8d978d;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #acabab;
}

.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
