.separator {
    display: flex;
    align-items: center;
    justify-self: center;
    text-align: center;
    font-size: 20px;
    font-family: "Ubuntu Mono", sans-serif;;
    max-width: 1000px;
    margin-bottom: 35px;
    margin-top: 25px;
    color: #8d978d;

    &::before, &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #acabab;
        margin-right: .25em;
    }
}
