//{box-sizing: border-box;}

.wrapper-mobile {
  width: 100%;
}

.wrapper-desktop {
  padding: 20px 10px 0px 10px;
  //width: 90%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  position: fixed;
  bottom: 50px;
  right: 50px;
}

.chat-wrapper {

  //display: flex;
  //padding: 20px 10px 0px 10px;
  //width: 100%;
  //min-width: 300px;

  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    background-color: white;
    padding: 10px 15px;
    position: relative;
    bottom: 0;
    border: 1px solid #f1f1f1;
    z-index: 9;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .chat-popup-mobile {
    display: none;
    /* padding: 10px 15px; */
    position: relative;
    bottom: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    overflow-x: auto;
    //overflow: hidden;
  }

  .slide {
    overflow: hidden;
    /* display: flex; */
    flex: 0 0 auto;
    width: 100%;
  }

  /* Add styles to the form container */
  .chat-container {
    box-sizing: border-box;
    //max-width: 300px;
    padding: 10px;
    background-color: white;
    width: 100%;



    &__buttons {
      display: flex;
      height: 60px;
    }

    &__messages {
      //float: left;
      padding: 30px 0px 0 25px;

      .msg_history {
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
      }

    }

    textarea {
      width: 90%;
      padding: 15px;
      border: none;
      background: #f1f1f1;
      display: flex;
      resize: none;

        &:focus {
          background-color: #ddd;
          outline: none;
        }

      }

      .btn {
        background-color: #50ad90;
        color: white;
        /* padding: 16px 20px; */
        border: none;
        cursor: pointer;
        width: 15%;
        min-width: 45px;
        /* margin-bottom: 10px; */
        opacity: 0.8;
      }

      .close-chat-button {
        background-color: red;
      }

      .btn:hover, .open-chat-button:hover {
        opacity: 1;
      }

    }


    .container{max-width:1170px; margin:auto;}
    .message_icon{
      max-width:100%;
      min-width: 40px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      /* margin-right: 5px; */
      object-fit: cover;
    }
    .inbox_people {
      background: #f8f8f8 none repeat scroll 0 0;
      float: left;
      overflow: hidden;
      width: 40%; border-right:1px solid #c4c4c4;
    }
    .inbox_msg {
      border: 1px solid #c4c4c4;
      clear: both;
      overflow: hidden;
    }
    .top_spac{ margin: 20px 0 0;}


    .recent_heading {float: left; width:40%;}
    .srch_bar {
      display: inline-block;
      text-align: right;
      width: 60%;
    }
    .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

    .recent_heading h4 {
      color: #05728f;
      font-size: 21px;
      margin: auto;
    }
    .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
    .srch_bar .input-group-addon button {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      padding: 0;
      color: #707070;
      font-size: 18px;
    }
    .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

    .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
    .chat_ib h5 span{ font-size:13px; float:right;}
    .chat_ib p{ font-size:14px; color:#989898; margin:auto}
    .chat_img {
      float: left;
      width: 11%;
    }
    .chat_ib {
      float: left;
      padding: 0 0 0 15px;
      width: 88%;
    }

    .chat_people{ overflow:hidden; clear:both;}
    .chat_list {
      border-bottom: 1px solid #c4c4c4;
      margin: 0;
      padding: 18px 16px 10px;
    }
    .inbox_chat { height: 550px; overflow-y: scroll;}

    .active_chat{ background:#ebebeb;}

    .incoming_msg {
      margin: 0 0 20px;
    }

    .incoming_msg_img {
      display: flex;
      //width: 6%;
      float: left;
      //padding: 0 10px 0 0;
      margin-bottom: 5px;
      margin-right: 8px;
    }
    .received_msg {
      //display: inline-block;
      display: flex;
      vertical-align: top;
      width: 92%;
      max-width: 70%;
      //overflow-wrap: break-word;

        .author_name {
          color: #3f80b3;
          display: block;
          font-size: 12px;
          font-weight: 600;
          margin: 0px 0 6px 0;
        }

    }
    .received_withd_msg p {
      background: #ebebeb none repeat scroll 0 0;
      border-radius: 3px;
      color: #646464;
      font-size: 14px;
      margin: 0;
      padding: 5px 10px 5px 12px;
      width: 100%;
    }
    .time_date {
      color: #747474;
      display: block;
      font-size: 12px;
      margin: 8px 0 0;
    }
    .received_withd_msg {
      //width: 100%;
      overflow-wrap: break-word;;
    }
    .mesgs {
      float: left;
      padding: 30px 15px 0 25px;
      width: 60%;
    }

    .sent_msg p {
      background: #05728f none repeat scroll 0 0;
      border-radius: 3px;
      font-size: 14px;
      margin: 0; color:#fff;
      padding: 5px 5px 5px 12px;
      width:100%;
    }
    .outgoing_msg{
      overflow:hidden;
      margin:26px 0 26px;
      overflow-wrap: break-word;
    }
    .sent_msg {
      float: right;
      //width: 46%;
      max-width: 80%;
      margin-right: 26px;
    }
    .input_msg_write input {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      color: #4c4c4c;
      font-size: 15px;
      min-height: 48px;
      width: 100%;
    }

    .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
    .msg_send_btn {
      background: #05728f none repeat scroll 0 0;
      border: medium none;
      border-radius: 50%;
      color: #fff;
      cursor: pointer;
      font-size: 17px;
      height: 33px;
      position: absolute;
      right: 0;
      top: 11px;
      width: 33px;
    }

  .users-container {
    display: flex;
    flex-direction: column;
    //margin-left: 10px;
    border-right: 1px solid #dee2e6!important;
    min-width: 150px;
    overflow-y: auto;
    overflow-x: hidden;

    .list_user {
      display: flex;
      align-items: center;
      //margin: 5px 0 5px;
      margin-right: auto;

      &__icon_wrapper {
        position: relative;

        .online_icon {
          position: absolute;
          height: 10px;
          width: 10px;
          background-color: #4cd137;
          border-radius: 50%;
          bottom: 0.4em;
          right: 0.6em;
          border: 1.5px solid white;
        }
      }

      .offline {
        background-color: #c23616 !important;
      }

      &__user_info {
        margin-top: auto;
        margin-bottom: auto;

        p {
          font-size: 10px;
          color: #999;
          font-size: 10px;
          color: #999;
          margin-top: 0;
          margin-bottom: 1rem;
        }
      }

      &__icon {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        object-fit: cover;
        border-radius: 100px;
      }

    }
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
  /* margin: 5px 5px 5px 0px; */
  margin: 5px auto;
  width: 80%;
}

  /* Button used to open the chat form - fixed at the bottom of the page */
.open-chat-button {
}

.revert {
  transform: scaleY(-1);
}


.mixin {
  width: 20px;
  margin-left: auto;
  border-radius: 50%;

  &:hover {
    width: 800px;
    margin-left: auto;
    //margin-right: auto;
    animation: growUp 900ms ease-in-out forwards;
    transform-origin: right;
    border-radius: 5px;
  }
}

.border-top-raduis {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.panel-heading {
  color: #111;
  background-color: #69d9d1;
  border-color: #428bca;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  max-height: 30px;
  //cursor: move;
  //border-radius: 50%;
  //width: 6%;
  //margin-left: auto;
  //animation: growDown 900ms ease-in-out forwards;
  //transform-origin: right;

  .mt-5 {
    position: relative;
    top: 4px;
    left: -3px;
  }

  &__icon {
    height: 25px;
    &:hover {
      transform: scale(1.2);
    }

  }

  .pull-right {
    position: relative;
    //display: inline-block;
    vertical-align: middle;
    float: right;
    cursor: pointer;
    display: none;
  }
}

@keyframes growUp {
  0% {
    transform: scaleX(0.15)
  }
  //80% {
  //  transform: scaleX(1.1)
  //}
  100% {
    transform: scaleX(1)
  }
}

@keyframes growDown {
  from {
      transform: scaleX(1.9)
  }
  to {
      transform: scaleX(1)
  }
}

//.dropdown {
//  width: 90%;
//  margin-left: auto;
//  margin-right: auto;
//  animation: growDown 900ms ease-in-out forwards;
//  transform-origin: right;
//}
