.meet-slide-mobile {
    overflow: hidden;
    display: flex;

    flex: 0 0 auto;
    width: 100%;

    position: relative;

    height: 380px;
    cursor: pointer;

    &__empty {
        overflow: hidden;
        display: flex;

        flex: 0 0 auto;
        width: 100%;

        position: relative;

        height: 380px;
        cursor: pointer;

        background-color: rgb(158, 157, 157);

        justify-content: center;
    }

    &__empty-title {
        margin-top: 100px;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
    
        filter: brightness(0.6);
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
    
        position: absolute;
    
        max-width: 100%;
        box-sizing: border-box;
    
        left: 0px;
        right: 0;
        bottom: 0px;
    
        padding: 70px 30px;
    
        color: white;
    }

    &__text-wrapper {

    }
    
    &__date-place-wrapper {
        color: #e3e3e3;
    }

    &__separator {
        margin: 0 5px;
    }
    
    &__title {
        color: white;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    
    &__like-icon {
        height: 25px;
        width: 25px;
        margin-left: auto;
    
        filter: invert(1);
    }
}