@import '../../sass_config.scss';
@import './IconWithText/Icon-with-text.scss';

$avatar-height: 300px;
$avatar-width: 400px;

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    min-width: 430px;
    // max-width: $max-width;

    margin-top: 40px;
    padding: 5px;

    font-family: $font;

    &__leftcolumn,
    &__rightcolumn {
        flex: 0 0 400px;
        margin: 10px;
    }

    &__avatar {
        border-radius: 10px;

        width: $avatar-width;
        height: $avatar-height;

        object-fit: cover;
    }

    &__avatar-wrapper {
        position: relative;

        width: $avatar-width;
        height: $avatar-height;
    }

    &__socialnetworks {
        display: flex;
        flex-direction: column;
    }

    &__meetings {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    &__title {
        display: flex;
        margin-bottom: 15px;
    }

    &__avatar-overlay {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        border-radius: 10px;
        background: rgba(0, 0, 0, .3);

        height: 99%;
        width: 100%;

        object-fit: cover;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    &__file-chooser {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &__file-label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        cursor: pointer;

        display: inline-block;
    }

    &__save-button {
        padding: 10px 16px;

        font-size: 15px;

        margin: 10px;
        border: none;
        outline: none;

        box-shadow: 1px 2px 10px 0px #aaaaaa;
        border-radius: 10px;
        background: white;
        cursor: pointer;
    }
}

.block {
    width: 350px;
}

.popup-links {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    .show {
        visibility: visible;
        -webkit-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
    }
}

.button {
    width: 150px;
    margin: 20px 10px 0px;

    &:active {
        background-color: #eeecec;
    }
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
