@import url('IconWithText/IconWithText.css');

.profile {
    display: flex;
    flex-wrap: wrap;
    min-width: 430px;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.profile__leftcolumn,
.profile__rightcolumn {
    flex: 0 0 400px;
    margin: 20px 0 20px 20px;
}

.profile__avatar {
    border-radius: 10px;
    width: 400px;
    height: 300px;
    object-fit:cover;
}

.profile__socialnetworks {
    display: flex;
    flex-direction: column;
}

.profile__meetings {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile__title {
    display: flex;
    margin-bottom: 15px;
}

.block {
    width: 350px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -50px;
    top: 100%;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.profile__avatar-wrapper {
    position: relative;
    width: 400px;
    height: 300px;
}

.profile__avatar-layout {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 10px;
    background: rgba(0, 0, 0, .3);

    height: 99%;
    width: 100%;

    object-fit: cover;
    opacity: 0;
}

.profile__avatar-layout:hover {
    opacity: 1;
}

.button {
    width: 150px;
    margin: 20px 10px 0px;
}

.button:active {
    background-color: #eeecec;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
