.icon-with-text {
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;

    &__link {
        text-decoration: none;
        color: black
    }

    &__editicon {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        
        cursor: pointer;

        &:hover {
            width: 25px;
            height: 25px;
        }
    }

    &__meet-preview-icon {
        width: 50px;
        height: 50px;
        margin-right: 5px;
        object-fit: cover;
        border-radius: 100px;
    }

    &__mainicon {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
}

.bold {
    font-weight: bolder;
}