.card-wrapper-mobile {
    &__cards {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    &__cards_column {
        display: flex;
        flex-wrap: wrap;
    }

    &__button {

    }
}