/* Header */
.header {
    display: flex;
    align-items: center;
    min-width: 430px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;

    font-family: 'Roboto', sans-serif;
}

.header__search-input {
    border-radius: 100px;
    height: 40px;
    width: 300px;

    margin: 0 auto;

    border: 0;
    padding: 0 10px 0 10px;

    cursor: pointer;

    font-size: 15px;
    background-color: rgba(51, 51, 51, 0.15);
}

.header__search-input::-webkit-input-placeholder {
    color: rgb(66, 65, 65);
    text-align: center;
}

.header__search-input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.header__search-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px white, 0 0 0 4px grey;
}

.icon {
    height: 40px;
    background-color: white;
    border-radius: 100px;
    padding: 3px;
    margin-right: 8px;

    cursor: pointer;
}

.icon:hover {
    background-color: grey;
}

.square {
    border-radius: 0px;
}

.header__logo {
    width: 100px;
    cursor: pointer;
}
