@import '../../../sass_config.scss';
@import './icon.scss';

.header {
    display: flex;
    flex-direction: column;

    width: $max-width;

    margin: 0 auto;
    padding: 15px $padding;

    font-family: $font;

    &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__search-input {
        height: 40px;
        width: 300px;

        margin: 0 auto;

        border: 0;
        border-radius: 100px;
        padding: 0 10px 0 10px;

        cursor: pointer;

        font-size: 15px;
        background-color: rgba(51, 51, 51, 0.15);

        &::-webkit-input-placeholder {
            color: rgb(66, 65, 65);
            text-align: center;
        }
    
        &:focus::-webkit-input-placeholder {
            opacity: 0;
        }
    
        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px white, 0 0 0 4px grey;
        }
    }

    &__logo {
        width: 100px;
        cursor: pointer;
    }
}

.navigation {
    display: flex;
    justify-content: center;

    width: $max-width;

    margin: 0 auto;
    
    font-family: $font;

    &__choose-link {
        margin: 0 10px 0 10px;
        border-radius: 100px;
        padding: 10px 15px;
        color: rgb(99, 97, 97);
        outline: none;
        text-decoration: none;
    
        cursor: pointer;

        &:hover {
            background-color: rgba(51, 51, 51, 0.1);
        }
        
        &:focus {
            background-color: rgba(51, 51, 51, 0.2);
        }
    }

}


