.navigation {
    display: flex;
    justify-content: center;

    width: $max-width;

    margin: 0 auto;

    font-family: $font;

    &__choose-link {
        margin: 0 5px;
        border-radius: 100px;
        padding: 10px 15px;
        color: rgb(82, 82, 82);
        outline: none;
        text-decoration: none;

        cursor: pointer;

        &_green {
            background-color: rgba(97, 255, 150, 0.8);
            &:hover {
                background-color: rgba(97, 255, 150, 0.5);
            }
        }

        &_blue {
            background-color: rgba(61, 255, 245, 0.8); 
            &:hover {
                background-color: rgba(61, 255, 245, 0.5); 
            }
        }
    }

}
