.navigation {
    display: flex;
    justify-content: center;

    width: $max-width;

    margin: 0 auto;
    
    font-family: $font;

    &__choose-link {
        margin: 0 5px;
        border-radius: 100px;
        padding: 10px 15px;
        color: rgb(197, 193, 193);
        outline: none;
        text-decoration: none;

        background-color: rgba(255, 255, 255, 0.1);
    
        cursor: pointer;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
        
        &:focus {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

}