
.cards-wrapper {
    display: flex;
    margin: 30px 0;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
}

.meet-card {
    display: flex;
    flex-direction: column;

    flex: 0 0 380px;
    height: 310px;
    cursor: pointer;

    &__rating {
        display: flex;
        justify-content: center;
        align-items: center;
    
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 0 10px;
    
        height: 30px;
    
        font-size: 14px;
    
        color: white;
    
        background-color: rgb(32, 255, 69, 0.7);
        border-radius: 20px;
    }


    &__like {
        position: absolute;
        top: 15px;
        right: 15px;
    
        height: 25px;
        width: 25px;
    
        filter: invert(1);
    
        transition: 0.2s ease 0s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__seats-left {
        display: flex;
        justify-content: center;
        align-items: center;
    
        position: absolute;
        bottom: 10px;
        left: 10px;
        padding: 0 10px;
    
        height: 30px;
    
        font-size: 14px;
    
        color: white;
    
        background-color: rgba(5, 7, 5, 0.9);
        border-radius: 20px;
    }

    &__image-wrapper {
        overflow: hidden;
        position: relative;
    
        height: 70%;
        margin: 0px;
    
        border-radius: 10px;
    }

    &__image {
        width: 100%;
        transition: 0.4s ease 0s;
        filter: brightness(0.9);
        object-fit: cover;
    }

    &:hover &__image {
        transform: scale(1.1);
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 5px;
    }

    &__title {
        margin-top: 10px;
    }

    &__date-place-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: -10px;
        color: gray;
        font-size: small;
    }

    &__date-place-separator {
        margin: 0 5px;
    }

    &__date {
    }
    
    &__place {
    }
}
