
div(class='collection-card' id=name)
    div(class='collection-card__image-wrapper')
        img(src=imgSrc class='collection-card__image')
        div(class='featured-collection__inner')
            div(class='featured-collection__title') #{name}
