@import url('../components/settings/settings.css');

.main {
    display: flex;
    flex-direction: column;

    max-width: 1300px;
    min-width: 430px;

    padding: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 1300px;
    min-width: 400px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

