@import '@/sass_config.scss';
@import '@/components/cards/MeetCard/MeetCard.scss';
@import '@/components/cards/UserCard/UserCard.scss';
@import '@/components/cards/UserCard/UserCard.scss';
@import '@/components/cards/MeetSlides/MeetSlides/MeetSlides.scss';
@import '../components/cards/MeetSlides/MeetSlide/MeetSlide.scss';
@import '@/components/header/Header/header.scss';
@import '@/components/header/Navigation/navigation.scss';
@import '@/components/meet/Meet.scss';
@import '@/components/profile/Profile.scss';
@import '@/components/settings/Settings.scss';
@import '@/components/main/MainTitle/MainTitle.scss';
@import '@/components/main/CardWrapper/CardWrapper.scss';


@import '@/components/auth/Form/Form.scss';
@import '@/components/auth/Button/Button.scss';
@import '@/components/auth/RadioBtn/RadioBtn.scss';
@import '@/components/auth/FileUploader/FileUploader.scss';
@import '@/components/auth/LineSeparator/LineSeparator.scss';
@import '@/components/auth/LineSeparator/LineSeparator.scss';
@import '@/components/auth/ModalDialog/ModalDialog.scss';
@import '@/components/auth/Date-Time/Date-Time.scss';
@import '@/components/auth/Notification/Notification.scss';
@import '@/components/auth/SelectedTag/SelectedTag.scss';


@import '@/css/signup.scss';
@import '@/css/new-meeting.scss';

body {
    margin: 0px;
}

.meet-page__main {
    width: $max-width;
    padding: 0 $padding;

    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: $max-width;
    padding: 15px;

    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 1280px) {
    .meet-page__main {
        width: $min-width;
    }

    .header {
        width: $min-width;
    }

    .navigation {
        width: $min-width;
    }

    .slide-container {
        width: $min-width;
    }

    .meet-slide {
        flex-basis: 780px;
    }

    .meet-card {
        flex-basis: 315px;
        height: 250px;

        &__image-wrapper {
            height: 180px;
        }

        &__image {
            height: 180px;
        }
    }
}
