
.signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

    max-width: 900px;
}

.col-1-3 {
    width: 410px;
}

.col-2-3 {
    width: 400px;
}

.signup fieldset {
    border: 0 none;
}

.signup label {
    color: #648880;
    cursor: pointer;
    font-weight: 550;
}

.signup input,
.signup button{
    margin: 12px 10px 27px 0;
    font-weight: 500;
}


.signup .leftcolumn input {
    width: 90%;
}


.sexBtns {
    width: 120px;
}

body {
    font-family: monospace, Helvetica, sans-serif;
}

label {
    font-family: monospace, Helvetica, sans-serif;
}

.signup input {
    height: 44px;
    font-size: 15px;
    padding: 0 10px;
    font-family: monospace;
    background: #f1f1f1;

    border-radius: 3px;
    border: none;
    outline: 0;
    box-sizing: border-box;
}

.signup input:focus {
    box-shadow: 0 0 0 1000px #edf8f6 inset,
    0 0 0px 2px #edf8f6;
    outline: none;
}

.birthDay {
    width: 74px;
    text-align:center;
}

.pers-info-block {
    display: block;
}

.pers-info-row {
    display: block;
    margin-left: 80px;
}

.pers-info-row label {
    color: #648880;
    cursor: pointer;
    font-weight: 550;
}

.pers-info-row input,
.pers-info-row button{
    margin: 12px 10px 27px 0;
    padding: 5px 8px;
    font-weight: 500;
}

.center {
    display: flex;
    justify-content: center;
}

div.center button {
    position: relative;
    top: 50%;
    margin-right: 20px;
}

.done:active {
    background-color: #5bb862;
}

.signup textarea {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    padding: 0 11px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #cbd1d4;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    padding: 10px 11px;
    height: 76px;
    min-height: 48px;
    vertical-align: top;
    resize: vertical;
}

.signup .textarea-wrapper {
    display: inline-block;
    width: 60%;
    position: relative;
    margin: 12px 10px 27px 0;
}

.signup .textarea-wrapper textarea {
    padding-right: 38px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.tab {
    display: none;
}

input.invalid {
    background-color: #ffdddd;
}
