
$signup-max-width: 900px;

.signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;

    max-width: $signup-max-width;

    &__col-1-3 {
        width: 410px;
    }

    &__col-2-3 {
        width: 400px;
    }

    input,
    button {
        margin: 12px 10px 27px 0;
        font-weight: 500;
    }

    .leftcolumn input {
        width: 90%;
    }

    .sexBtns {
        width: 120px;
    }

    .birthDay {
        width: 74px;
        text-align:center;
    }

    fieldset {
        border: 0 none;
    }

    //TODO копипаста с new-meeting
    label {
        color: #648880;
        cursor: pointer;
        font-weight: 550;
        font-family: "Ubuntu Mono", sans-serif;
    }

    input {
        height: 44px;
        font-size: 15px;
        padding: 0 10px;
        font-family: "Ubuntu Mono", sans-serif;;
        background: #f1f1f1;

        border-radius: 3px;
        border: none;
        outline: 0;
        box-sizing: border-box;

        &:focus {
            box-shadow: 0 0 0 1000px #edf8f6 inset,
            0 0 0 2px #edf8f6;
            outline: none;
        }
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .photo-poster {
        max-width: 100%;
        min-height: 250px;
        max-height: 300px;
        display: block;
        margin: 8px 0;
        border: 1px solid #f2f2f2;

        &:focus + label,
        & + label:hover {
            background-color: #4caf50;
            outline: -webkit-focus-ring-color auto 5px;
        }

        & + label {
            cursor: pointer; /* "hand" cursor */
            color: #9cbdb6;
            background-color: #f1f1f1;

            font-size: 1.15rem;
            font-weight: 550;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            overflow: hidden;
            padding: 0.625rem 1.25rem;
            border-radius: 2px;
            box-shadow: 0 0 0 2px #c7c6c6;
            margin: 12px 10px 27px 0;
            max-width: 220px;
        }
    }
}

.pers-info-block {
    display: block;

    .pers-info-row {
        display: block;
        margin-left: 80px;
        margin-top: 50px;

        label {
            color: #648880;
            cursor: pointer;
            font-weight: 550;
        }

        input,
        button {
            margin: 12px 10px 27px 0;
            padding: 5px 8px;
            font-weight: 500;
        }

    }
}

.tab {
    display: none;
}

input.invalid {
    background-color: #ffdddd;
}

.center {
    display: flex;
    justify-content: center;

    button {
        position: relative;
        top: 50%;
        margin-right: 20px;

        .done:active {
            background-color: #5bb862;
        }

    }
}
