.authForm body {
    font-family: monospace, Helvetica, sans-serif;
}

.authForm input {
    font-family: monospace, Helvetica, sans-serif;
}

.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.authForm wrapper-form {
    margin: auto;
}

.authForm form {
    display: flex;
    flex-direction: column;
    width: 320px;

    box-shadow: 1px 2px 10px 0px #c5c5c5;
    padding: 20px 20px 20px;
}

.authForm form input{
    margin: 12px 10px 20px 0;
    padding: 5px 8px;
    font-weight: 500;
    width: 90%;

    height: 38px;
    font-size: 15px;
    font-family: monospace;
    background: #f1f1f1;

    border-radius: 3px;
    border: none;
    outline: 0;
    box-sizing: border-box;
}

.authForm form input:focus {
    box-shadow: 0 0 0 1000px #edf8f6 inset,
    0 0 0px 2px #edf8f6;
    outline: none;
}

.authForm form label {
    color: #648880;
    cursor: pointer;
    font-weight: 600;
    font-family: monospace;
    font-size: 16px;
}

.authForm form main {
    margin-left: 12px;
}

.authForm form footer {
    display: flex;
    flex-direction: column;
    justify-items: right;
    margin-left: 12px;
}

.authForm form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.authForm form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
