nav(class='navigation')
    a(href='/forme' data-section='forMe' class='navigation__choose-link') Для меня
    a(href='/meetings' data-section='meetings' class='navigation__choose-link') Мероприятия
    a(href='/people' data-section='people' class='navigation__choose-link') Люди
