/* Navigation */
.navigation {
    display: flex;
    justify-content: center;
    min-width: 430px;
    margin: 0 auto;
    
    font-family: 'Roboto', sans-serif;
}

.navigation__choose-link {
    margin: 0 10px 0 10px;
    border-radius: 100px;
    padding: 5px 10px 5px 10px;
    color: rgb(99, 97, 97);
    outline: none;
    text-decoration: none;

    cursor: pointer;
}

.navigation__choose-link:hover {
    background-color: rgba(51, 51, 51, 0.1);
}

.navigation__choose-link:focus {
    background-color: rgba(51, 51, 51, 0.2);
}

