.meet {
    max-width: 1140px;
    min-width: 430px;

    padding: 15px;
    margin: 0 auto 0 auto;
    font-family: 'Roboto', sans-serif;
}

.meet__image {
    width: 100%;
    height: 500px;
    object-fit:cover;

    border-radius: 10px;
}

.meet__title {
    display: flex;
    margin: 0px;
    margin-right: 20px;
}

.meet__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.meet__leftcolumn {
    margin-right: auto;
}

.meet__rightcolumn {
    display: flex;
    flex-direction: row;
}

.meet__title-status-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.meet__dateplace {
    display: block;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    padding: 5px 10px;

    color: white;
    z-index: 2;
}

.meet__status {
    border-radius: 10px;
    margin: 5px 0;
}

.status_red {
    background-color: rgba(253, 32, 24, 0.8);
}

.status_yellow {
    background-color: rgb(238, 202, 0);
}

.status_green {
    background-color: rgba(6, 77, 0, 0.8);
}

.meet__like-icon {
    width: 24px;
    height: 24px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 11px;
    cursor: pointer;
}

.meet__like-icon:hover {
    background: #f1f1f1; 
}

.meet__button {
    font-size: 15px;
    padding: 0 16px;
    font-size: medium;

    margin-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.meet__button_edit {
    height: 50px;
    width: 150px;
}

.meet__button_go {
    height: 50px;
    width: 130px;
}

.meet__button:hover {
    background: #f1f1f1;
}

.meet__bottom {
    display: flex;
    flex-direction: row;
    margin: 20px 0 50px 0;
}

.meet__leftcolumn_bottom {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    flex: 1 1 70%;
}

.meet__rightcolumn_bottom {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 30%;
}

.meet-tag {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: 100px;

    border: 2px solid black;
    border-radius: 5px;
    padding: 11px;
}

.meet-tag_margin5 {
    margin: 5px;
}

.meet__about-title {
    margin-top: 0px;
}

.meet__vertical-separator {
    border-left: 2px solid black;
    height: auto;
    margin: 0 auto 0 auto;
}


