.meet__main {
    max-width: 1140px;
    min-width: 430px;

    margin: 0 auto 0 auto;
    font-family: 'Roboto', sans-serif;
}

.meet__image {
    width: 100%;
    height: 500px;
    object-fit:cover;

    border-radius: 10px;
}

.meet__title {
    margin-bottom: 5px;
}

.meet__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.meet__leftcolumn {
    margin-right: auto;
}

.meet__rightcolumn {
    display: flex;
    flex-direction: row;
}

.meet__like-icon {
    width: 24px;
    height: 24px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 11px;
    cursor: pointer;
}

.meet__like-icon:hover {
    background: #f1f1f1; 
}

.meet__go-button {
    height: 50px;
    width: 130px;
    font-size: 15px;
    padding: 0 16px;
    font-size: medium;

    margin-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.meet__go-button:hover {
    background: #f1f1f1;
}

.meet__bottom {
    display: flex;
    flex-direction: row;
    margin: 20px 0 50px 0;
}

.meet__leftcolumn_bottom {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    flex: 1 1 70%;
}

.meet__rightcolumn_bottom {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 30%;
}

.meet-tag {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: 100px;

    border: 2px solid black;
    border-radius: 5px;
    padding: 11px;
}

.meet-tag_margin5 {
    margin: 5px;
}

.meet__about-title {
    margin-top: 0px;
}

.meet__vertical-separator {
    border-left: 2px solid black;
    height: auto;
    margin: 0 auto 0 auto;
}


