@import '../../sass_config.scss';

.meet {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    max-width: $max-width;
    min-width: $min-width;

    padding: 280px $padding 15px $padding;
    margin: 0 auto;
    font-family: $font;

    overflow: visible;

    &__image {
        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;

        width: 100%;
        height: 500px;

        min-width: $max-width + 2 * $padding;

        object-fit: cover;

        filter: brightness(0.6);
    }

    &__text-wrapper {

    }

    &__title {
        color: white;
    }

    &__date-place-wrapper {
        color: white;
        font-size: 17px;;
    }

    &__separator {
        margin: 5px;
    }

    &__tags {
        color: #e3e3e3;
    }

    &__buttons {
        display: flex;
        margin-top: 20px;
    }

    &__button {
        cursor: pointer;
        border-radius: 100px;
        background-color: #fef339;

        height: 40px;

        font-size: 15px;

        width: 150px;

        padding: 0 15px;

        margin-right: 10px;

        border: none;
        outline: none;
    }

    &__like-icon-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;

        border-radius: 100px;
        height: 40px;
        padding: 0 15px;

        background-color: rgba(0, 0, 0, 0.5);

        color: white;

        font-size: 15px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    &__like-icon-wrapper:hover
    &__like-icon {
        transform: scale(1.1);
    }

    &__like-text {

    }

    &__like-icon {
        width: 20px;
        filter: invert(1);
        margin-right: 10px;

        transition: 0.2s ease 0s;
    }

    &__about {
        margin-top: 70px;
        display: flex;

        align-items: flex-start;
    }

    &__text-wrapper {
        display: flex;
        flex: 0 0 80%;
        flex-direction: column;
    }

    &__author-wrapper {
        display: flex;
        flex: 0 0 20%;
        flex-direction: column;
        align-items: center;

        cursor: pointer;
    }

    &__author-avatar {
        height: 90px;
        width: 90px;

        margin-top: 15px;

        object-fit: cover;

        border-radius: 100px;
    }

    &__members {
        display: flex;
        flex-direction: column;
    }

    &__members-title {
        display: flex;
        align-items: center;

        margin-bottom: 15px;
    }

    &__members-count {
        margin-left: 20px;
        margin-bottom: 0px;

        color: rgba(146, 144, 144, 0.6);
    }

    &__members-wrapper {
        display: flex;
        flex-direction: row;
    }

    &__member {
        display: flex;
        flex-direction: column;
        align-items: center;

        cursor: pointer;

        margin-right: 20px;
    }

    &__member-avatar {
        width: 90px;
        height: 90px;

        border-radius: 100px;

        object-fit: cover;
    }

    &__member-name {
        margin-top: 10px;
        width: 90px;
    }


    &__sub-title {
        margin-bottom: 5px;
    }


    &__text {
        display: block;
        margin-top: 15px;
    }
}

.status_red {
    background-color: rgba(253, 32, 24, 0.8);
}

.status_yellow {
    background-color: rgb(238, 202, 0);
}

.status_green {
    background-color: rgba(6, 77, 0, 0.8);
}

.meet-tag {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: 100px;

    border: 2px solid black;
    border-radius: 5px;
    padding: 11px;

    &_margin5 {
        margin: 5px;
    }
}
