.usercard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;

    margin: 10px;

    height: 400px;
    width: 250px;

    cursor: pointer;
}

.wraper {
    margin: 0 0 10px 10px
}

.usercard h3, 
.usercard h2, 
.usercard span {
    color: white;

    margin-left: 5px;
    margin-bottom: 0px;
}

.overlay {
    position: absolute;
    border-radius: 10px;

    z-index: 1;
    background: linear-gradient(to top, rgba(0, 0, 0, .9) 0%, rgba(255, 255, 255, .1) 100%);

    height: 100%;
    width: 100%;

    object-fit: cover;
}

.overlay:hover {
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 1px 2px 10px 0px grey;
}