div(class='user-card')
    div(class='user-card__image-wrapper')
        img(src=label.imgSrc class='user-card__image')
        div(class='user-card__tags')
            each val, index in interestTags
                span(class='user-card__tag') #{val}
    div(class='user-card__text-wrapper')
        h2(class='user-card__name') #{label.name}
        div(class='user-card__icon-text')
            img(class='user-card__icon' src='assets/job.svg')
            span(class='user-card__job') #{job}
